{{ $home := .Scratch.Get "homePage"}}
{{ $experience := $home.experience }}

<div class="container-experience">
  <div class="row">
    <h2>{{ $experience.title }}</h2>
    <p class="lead">{{ $experience.description }}</p>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <a
        href="{{ $experience.button.URL | absLangURL }}"
        class="btn btn-primary btn-block"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ $experience.button.icon }}"></i>
        {{ $experience.button.btnText }}
        <i class="icon-arrow-right"></i
      ></a>
    </div>
    <div class="col-12 col-lg-4">
      <a
        href="{{ $experience.button2.URL | absURL }}"
        class="btn btn-frameless btn-block"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ $experience.button2.icon }}"></i>
        {{ $experience.button2.btnText }}
      </a>
    </div>
    {{ if $experience.button3.btnText }}
    <div class="col-12 col-lg-4">
      <a
        href="{{ $experience.button3.URL | absURL }}"
        class="btn btn-frameless btn-block"
        rel="noopener noreferrer"
      >
        <i class="{{ $experience.button3.icon }}"></i>
        {{ $experience.button3.btnText }}
      </a>
    </div>
    {{ end }}
  </div>
</div>
