{{ $currentUrl := .RelPermalink }}
<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="{{ .Site.BaseURL | absLangURL }}">
          <span>{{ .Site.Params.logo.text1 }}</span>
          <span>{{ .Site.Params.logo.text2 }}</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent, #header" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            {{ range .Site.Menus.header }}
            <li class="nav-item">
              <a data-scroll class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name | upper }}</a>
            </li>
            {{ end }}
            <li class="d-none d-lg-block d-xl-block d-xxl-block">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Site.Params.ButtonLanguage | upper }}
                </button>
                <ul class="dropdown-menu">
                  {{ range $.Site.Home.AllTranslations }}
                  <li class="nav-item">
                    {{ $url := print (substr .Permalink 0 -1 ) $currentUrl}}
                    <a class="dropdown-item" href="{{ $url }}">{{ .Language.Title }}</a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </li>

            <li class="nav-item d-xs-inline-flex d-sm-inline-flex d-md-inline-flex d-lg-none d-xl-none d-xxl-none justify-content-center">
              {{ $current := .Language }}
              {{ range $.Site.Home.AllTranslations }}
                
                {{ if eq $current .Language  }}
                  <a class="pl-2 nav-link bold" href="{{ .Permalink }}"> {{ .Language.Title | upper }} </a> 
                {{ else }}
                  <a class="pl-2 align-self-center" href="{{ .Permalink }}"> {{ .Language.Title | upper }} </a> 
                {{ end }}
              {{ end }}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>